- name: copy mongodb repo
  ansible.builtin.copy: 
    src: mongodb.repo
    dest: /etc/yum.repos.d/mongodb.repo
- name: install mongodb

  ansible.builtin.package:
    name: mongodb-org
    state: present

- name: allow remote connections
  ansible.builtin.replace:
    path: /etc/mongod.conf
    regexp: '127.0.0.1'
    replace: '0.0.0.0'

- name: start services
  ansible.builtin.service:
    name: mongod 
    enabled: yes 
    state: started
  